:root {
    --header-color: #c1edcc;
    --page-color: #453f3c;
    --default-font: "lucida console";
    --default-header-color: #797270;
    --default-font-color: #b0c0bc;
}

body {
    display: flex;
    flex-direction: row-reverse;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

#main {
    background-color: var(--page-color);
    justify-content: center;
    width: 100%;
}

#main-text {
    margin-top: 10%;
    margin-left: 10%;
}

#main .text {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: var(--default-font);
    color: var(--default-font-color)
}

#contact-text {
    position: fixed;
    bottom: 10%;
    width: 100%;
}